<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header') %>
</head>
<body>
    <%- include('components/navbar'), {currentRoute: currentRoute} %>

    <article> 
        <div class="bg-dark text-white p-4">
            <div class="container">
                <h1 class="mb-4">User Management Table</h1>
                <input type="text" class="form-control mb-3" placeholder="Search user">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- /viewUsers/1 -->
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= user.name %></td>
                                <td><%= user.surname %></td>
                                <td><a href="/viewUsers/<%= user.id %>" class="btn btn-sm btn-info">VIEW</a></td>
                                <td><button class="btn btn-sm editbutton">EDIT</button></td>
                                <td><button class="btn btn-sm deletebutton">DELETE</button></td>
                            </tr>
                        <% }) %>    
                    </tbody>
                </table>
            </div>
        </div>
        
    </article>
    <!-- Bootstrap JS and dependencies -->    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <%- include('components/footer') %>
</body>
</html>