<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header') %>
</head>
<body>
    <%- include('components/navbar'), {currentRoute: currentRoute} %>

    <article> 
        <div class="bg-dark text-white p-4 showUsersTable">
            <div class="container">
                <h1 class="mb-4">User Management Table</h1>
                <table class="table  table-dark table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= user.name %></td>
                                <td><%= user.surname %></td>
                                <td><a href="/viewUsers/<%= user.id %>" class="btn btn-sm btn-info">VIEW</a></td>
                                <td><button class="btn btn-sm editbutton">EDIT</button></td>
                                <td><button class="btn btn-sm deletebutton">DELETE</button></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </article>

    <%- include('components/footer') %>
</body>
</html>